@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.error {
  font-size: large;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans Mono", monospace;
}

.error1 {
  color: #ed0800;
}
