@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.header{
    background-color: #A4CDEB;
    font-size: xx-large;
    height: 70px ;
    border-bottom: 2px solid white;
    color: white;
    font-family: 'Noto Sans Mono', monospace;
}


#left-nav{
    text-align-last: center;
    padding-top: 10px;
}

#right-nav{
    text-align-last: right;
    bottom: 90px;
}

