
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap");



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.error2 {
  font-family: "Noto Sans Mono", monospace;
  font-size: large;
}

.error3 {
  color: #E10600;
}
